@import "../../../assets/scss/index.scss";

.post-preview {
    height: 100%;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    &__image {
        width: 100%;
        height: 100%;
    }
}