@import "../../assets/scss/index.scss";

.albums {
    margin-top: 50px;

    .albums-header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
      
        h2 {
          margin: 0 5px 0 0;
        }

        i.icon {
            margin-bottom: 0px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}